# This notebook is a final look at overlap between the three methods.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from numpy.polynomial.polynomial import polyfit
import pandas as pd
from matplotlib_venn import venn3, venn3_circles
import matplotlib.lines as lines
from astropy import constants as const
from astropy.io import fits
import astropy.coordinates as coord
import astropy.units as u
from astropy.table import Table
# import ephem
from astropy.cosmology import FlatLambdaCDM

In [7]:
# load three most recent samples
zoo = pd.read_csv('/home/shawn/Desktop/gravitational_lensing_research/Lens_Project_Files/zoo_candidates_032020.csv')
spec = pd.read_csv('/home/shawn/Desktop/gravitational_lensing_research/Lens_Project_Files/spec_041220.csv')
mac = pd.read_csv('/home/shawn/Desktop/gravitational_lensing_research/Lens_Project_Files/mac_candidates_041520.csv')
print(len(spec), len(mac), len(zoo))

47 47 36

In [8]:
# overlaps
print(pd.merge(spec, mac, on = 'GAMA_ID'),
     pd.merge(spec, zoo, on = 'GAMA_ID'),
     pd.merge(mac, zoo, on = 'GAMA_ID'))

Empty DataFrame
Columns: [Unnamed: 0_x, Unnamed: 0.1_x, RA_x, DEC_x, z1, z2, spec_type, GAMA_ID, STELLAR_MASS_x, max_total_mass, theta_e_x, Z_x, max_stellar_mass_salpeter, max_stellar_mass_chabrier, Dz, theta_e2, z_lens, Unnamed: 0_y, Unnamed: 0.1_y, ID, RA_y, DEC_y, SCORE, STELLAR_MASS_y, Z_y, theta_e_y]
Index: []

[0 rows x 26 columns] Empty DataFrame
Columns: [Unnamed: 0_x, Unnamed: 0.1_x, RA_x, DEC_x, z1, z2, spec_type, GAMA_ID, STELLAR_MASS_x, max_total_mass, theta_e_x, Z_x, max_stellar_mass_salpeter, max_stellar_mass_chabrier, Dz, theta_e2, z_lens, Unnamed: 0_y, Unnamed: 0.1_y, RA_y, DEC_y, LENS_SCORE, STELLAR_MASS_y, Z_y, TOTAL_MASS, theta_e_y]
Index: []

[0 rows x 26 columns]    Unnamed: 0_x  Unnamed: 0.1_x   GAMA_ID      ID       RA_x    DEC_x  SCORE  \
0            24              24  124486.0  2553.0  179.73003 -2.51895   28.0
1            32              32  136604.0  1642.0  175.87355 -1.74164   58.0

   STELLAR_MASS_x     Z_x  theta_e_x  Unnamed: 0_y  Unnamed: 0.1_y       RA_y  \
0    8.541000e+10  0.1435   1.235660            13            5772  179.72998
1    2.866000e+11  0.1060   2.633636            22           11076  175.87349

     DEC_y  LENS_SCORE  STELLAR_MASS_y     Z_y    TOTAL_MASS  theta_e_y
0 -2.51919    0.426190    8.541000e+10  0.1435  2.190000e+11   1.235660
1 -1.74167    0.316451    2.866000e+11  0.1060  7.348718e+11   2.633636

Mac and Zoo still have two overlaps:
124486
136604

In [9]:
pd.merge(mac, zoo, on = 'GAMA_ID')

,Unnamed: 0_x,Unnamed: 0.1_x,GAMA_ID,ID,RA_x,DEC_x,SCORE,STELLAR_MASS_x,Z_x,theta_e_x,Unnamed: 0_y,Unnamed: 0.1_y,RA_y,DEC_y,LENS_SCORE,STELLAR_MASS_y,Z_y,TOTAL_MASS,theta_e_y
0,24,24,124486.0,2553.0,179.73003,-2.51895,28.0,8.541000e+10,0.1435,1.235660,13,5772,179.72998,-2.51919,0.426190,8.541000e+10,0.1435,2.190000e+11,1.235660
1,32,32,136604.0,1642.0,175.87355,-1.74164,58.0,2.866000e+11,0.1060,2.633636,22,11076,175.87349,-1.74167,0.316451,2.866000e+11,0.1060,7.348718e+11,2.633636