# This notebook analyzes the Zoo sample with the same LRG cuts from Petrillo and SDSS.
(i) The low-z (z < 0.4) LRG colour-magnitude selection of
Eisenstein et al. (2001), adapted to including more sources
(fainter and bluer):
r < 20
|c perp | < 0.2
r < 14 + c par /0.3
where
(1)
c par = 0.7(g − r) + 1.2[(r − i) − 0.18)]
c perp = (r − i) − (g − r)/4.0 − 0.18

(ii) A source size in the r -band larger than the average
FWHM of the PSF of the respective tiles, times a empir-
ical factor to maximize the separation between stars and galaxies.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from numpy.polynomial.polynomial import polyfit
import pandas as pd
from matplotlib_venn import venn3, venn3_circles
import matplotlib.lines as lines
from astropy import constants as const
from astropy.io import fits
import astropy.coordinates as coord
import astropy.units as u
from astropy.table import Table
# import ephem
from astropy.cosmology import FlatLambdaCDM
from scipy import stats as sci

## g-band magnitude (AB)

In [2]:
# Opening GAMA LambdarCat data from G09, G12, and G15 (DR3)
hdul = fits.open('/home/shawn/Desktop/gravitational_lensing_research/FITS_Files/LambdarSDSSg.fits')  # open a FITS file
hdul.verify('fix')
photo_g_data = hdul[1].data  # assume the first extension is a table
#print(photo_g_data.columns)

# take ID and mag in g
photo_g_id = photo_g_data.LAMID
# LAMID is GAMA ID where applicable.
photo_g_mag = photo_g_data.ABMagDFA

photo_g_list = list(zip(photo_g_id, photo_g_mag))

photo_g = pd.DataFrame(photo_g_list, columns = ['GAMA_ID', 'g'])
photo_g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220158 entries, 0 to 220157
Data columns (total 2 columns):
GAMA_ID    220158 non-null object
g          220158 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.4+ MB

In [3]:
# GAMA_ID is given in bytes, need to decode. #b'8000'.decode("utf-8")
#photo_g_id.decode("utf-8")
photo_g['GAMA_ID'] = photo_g['GAMA_ID'].str.decode("utf-8")

In [4]:
# Remove IDs which have "New" in the name
photo_g = photo_g[~photo_g.GAMA_ID.str.contains('New')]
photo_g

          GAMA_ID          g
0       100000     20.594820
1       100001     20.743700
2       100002     18.867937
3       100003     20.013288
4       100004     19.506737
5       100005     17.884396
6       100006     18.100239
7       100007     20.343859
8       100008     18.569729
9       100009     19.702248
10      100010     19.483007
11      100011     18.541767
12      100012     19.848705
13      100013     19.393608
14      100014     20.322191
15      100015     19.628489
16      100016     19.731983
17      100017     19.923367
18      100018     19.172352
19      100019     19.434052
20      100020     19.626274
21      100021     18.699261
22      100022     20.719557
23      100023     19.454895
24      100024     21.228781
25      100025     19.895418
26      100026     19.869791
27      100027     18.924730
28      100028     21.626217
29      100029     19.831760
...           ...        ...
219428  99970      18.936087
219429  99971      20.098576
219430  99972      19.032431
219431  99973      19.239475
219432  99974      18.893738
219433  99975      17.809061
219434  99976      19.231016
219435  99977      18.962196
219436  99978      19.551727
219437  99979      19.885206
219438  99980      19.855738
219439  99981      20.262047
219440  99982      19.699055
219441  99983      18.727551
219442  99984      20.053337
219443  99985      20.462887
219444  99986      19.850430
219445  99987      20.328712
219446  99988      19.764681
219447  99989      20.232571
219448  99990      20.481010
219449  99991      20.582855
219450  99992      20.237381
219451  99993      20.628424
219452  99994      20.552118
219453  99995      21.020639
219454  99996      21.404068
219455  99997      21.347977
219456  99998      20.773315
219457  99999      21.164890

[219458 rows x 2 columns]

In [5]:
# Write IDs as integers
photo_g['GAMA_ID'] = photo_g.GAMA_ID.astype(int)

In [6]:
photo_g

        GAMA_ID          g
0        100000  20.594820
1        100001  20.743700
2        100002  18.867937
3        100003  20.013288
4        100004  19.506737
5        100005  17.884396
6        100006  18.100239
7        100007  20.343859
8        100008  18.569729
9        100009  19.702248
10       100010  19.483007
11       100011  18.541767
12       100012  19.848705
13       100013  19.393608
14       100014  20.322191
15       100015  19.628489
16       100016  19.731983
17       100017  19.923367
18       100018  19.172352
19       100019  19.434052
20       100020  19.626274
21       100021  18.699261
22       100022  20.719557
23       100023  19.454895
24       100024  21.228781
25       100025  19.895418
26       100026  19.869791
27       100027  18.924730
28       100028  21.626217
29       100029  19.831760
...         ...        ...
219428    99970  18.936087
219429    99971  20.098576
219430    99972  19.032431
219431    99973  19.239475
219432    99974  18.893738
219433    99975  17.809061
219434    99976  19.231016
219435    99977  18.962196
219436    99978  19.551727
219437    99979  19.885206
219438    99980  19.855738
219439    99981  20.262047
219440    99982  19.699055
219441    99983  18.727551
219442    99984  20.053337
219443    99985  20.462887
219444    99986  19.850430
219445    99987  20.328712
219446    99988  19.764681
219447    99989  20.232571
219448    99990  20.481010
219449    99991  20.582855
219450    99992  20.237381
219451    99993  20.628424
219452    99994  20.552118
219453    99995  21.020639
219454    99996  21.404068
219455    99997  21.347977
219456    99998  20.773315
219457    99999  21.164890

[219458 rows x 2 columns]

## r-band

In [7]:
# Opening GAMA LambdarCat data from G09, G12, and G15 (DR3)
hdul = fits.open('/home/shawn/Desktop/gravitational_lensing_research/FITS_Files/LambdarSDSSr.fits')  # open a FITS file
hdul.verify('fix')
photo_r_data = hdul[1].data  # assume the first extension is a table
#print(photo_g_data.columns)

# take ID and mag in g
photo_r_id = photo_r_data.LAMID
# LAMID is GAMA ID where applicable.
photo_r_mag = photo_r_data.ABMagDFA

photo_r_list = list(zip(photo_r_id, photo_r_mag))

photo_r = pd.DataFrame(photo_r_list, columns = ['GAMA_ID', 'r'])
photo_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220158 entries, 0 to 220157
Data columns (total 2 columns):
GAMA_ID    220158 non-null object
r          220158 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.4+ MB

In [8]:
# GAMA_ID is given in bytes, need to decode. #b'8000'.decode("utf-8")
#photo_g_id.decode("utf-8")
photo_r['GAMA_ID'] = photo_r['GAMA_ID'].str.decode("utf-8")

In [9]:
# Remove IDs which have "New" in the name
photo_r = photo_r[~photo_r.GAMA_ID.str.contains('New')]
photo_r

          GAMA_ID          r
0       100000     19.811590
1       100001     19.662579
2       100002     17.846043
3       100003     19.200987
4       100004     19.207859
5       100005     17.286449
6       100006     17.592030
7       100007     19.783960
8       100008     17.508411
9       100009     19.131847
10      100010     18.336803
11      100011     17.601269
12      100012     18.791456
13      100013     18.826361
14      100014     19.518330
15      100015     18.429962
16      100016     18.623648
17      100017     18.798292
18      100018     17.927132
19      100019     18.191265
20      100020     18.475861
21      100021     17.401047
22      100022     19.817129
23      100023     18.469091
24      100024     19.387873
25      100025     19.360020
26      100026     18.712488
27      100027     17.451962
28      100028     20.814775
29      100029     18.957401
...           ...        ...
219428  99970      18.301439
219429  99971      18.695692
219430  99972      18.170773
219431  99973      18.820932
219432  99974      17.964949
219433  99975      16.968647
219434  99976      17.963907
219435  99977      18.230606
219436  99978      18.830339
219437  99979      19.052406
219438  99980      18.864777
219439  99981      19.201777
219440  99982      19.182934
219441  99983      18.204334
219442  99984      19.214417
219443  99985      19.602732
219444  99986      18.814182
219445  99987      19.575869
219446  99988      19.237803
219447  99989      19.198721
219448  99990      19.812387
219449  99991      19.772583
219450  99992      19.181210
219451  99993      19.769497
219452  99994      19.940001
219453  99995      19.435972
219454  99996      19.633066
219455  99997      19.507254
219456  99998      19.538841
219457  99999      19.877796

[219458 rows x 2 columns]

In [10]:
# Write IDs as integers
photo_r['GAMA_ID'] = photo_r.GAMA_ID.astype(int)

In [11]:
photo_r

        GAMA_ID          r
0        100000  19.811590
1        100001  19.662579
2        100002  17.846043
3        100003  19.200987
4        100004  19.207859
5        100005  17.286449
6        100006  17.592030
7        100007  19.783960
8        100008  17.508411
9        100009  19.131847
10       100010  18.336803
11       100011  17.601269
12       100012  18.791456
13       100013  18.826361
14       100014  19.518330
15       100015  18.429962
16       100016  18.623648
17       100017  18.798292
18       100018  17.927132
19       100019  18.191265
20       100020  18.475861
21       100021  17.401047
22       100022  19.817129
23       100023  18.469091
24       100024  19.387873
25       100025  19.360020
26       100026  18.712488
27       100027  17.451962
28       100028  20.814775
29       100029  18.957401
...         ...        ...
219428    99970  18.301439
219429    99971  18.695692
219430    99972  18.170773
219431    99973  18.820932
219432    99974  17.964949
219433    99975  16.968647
219434    99976  17.963907
219435    99977  18.230606
219436    99978  18.830339
219437    99979  19.052406
219438    99980  18.864777
219439    99981  19.201777
219440    99982  19.182934
219441    99983  18.204334
219442    99984  19.214417
219443    99985  19.602732
219444    99986  18.814182
219445    99987  19.575869
219446    99988  19.237803
219447    99989  19.198721
219448    99990  19.812387
219449    99991  19.772583
219450    99992  19.181210
219451    99993  19.769497
219452    99994  19.940001
219453    99995  19.435972
219454    99996  19.633066
219455    99997  19.507254
219456    99998  19.538841
219457    99999  19.877796

[219458 rows x 2 columns]

## i-band

In [12]:
# Opening GAMA LambdarCat data from G09, G12, and G15 (DR3)
hdul = fits.open('/home/shawn/Desktop/gravitational_lensing_research/FITS_Files/LambdarSDSSi.fits')  # open a FITS file
hdul.verify('fix')
photo_i_data = hdul[1].data  # assume the first extension is a table
#print(photo_g_data.columns)

# take ID and mag in g
photo_i_id = photo_i_data.LAMID
# LAMID is GAMA ID where applicable.
photo_i_mag = photo_i_data.ABMagDFA

photo_i_list = list(zip(photo_i_id, photo_i_mag))

photo_i = pd.DataFrame(photo_i_list, columns = ['GAMA_ID', 'i'])
photo_i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220158 entries, 0 to 220157
Data columns (total 2 columns):
GAMA_ID    220158 non-null object
i          220158 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.4+ MB

In [13]:
# GAMA_ID is given in bytes, need to decode. #b'8000'.decode("utf-8")
#photo_g_id.decode("utf-8")
photo_i['GAMA_ID'] = photo_i['GAMA_ID'].str.decode("utf-8")

In [14]:
# Remove IDs which have "New" in the name
photo_i = photo_i[~photo_i.GAMA_ID.str.contains('New')]
photo_i

          GAMA_ID          i
0       100000     19.469633
1       100001     19.226625
2       100002     17.358280
3       100003     18.706486
4       100004     18.875196
5       100005     16.981993
6       100006     17.225407
7       100007     19.467701
8       100008     17.013826
9       100009     18.811947
10      100010     17.917910
11      100011     17.178625
12      100012     18.351515
13      100013     18.547916
14      100014     19.292389
15      100015     17.856646
16      100016     18.151630
17      100017     18.303244
18      100018     17.451309
19      100019     17.759033
20      100020     18.039917
21      100021     16.900694
22      100022     19.801716
23      100023     18.095474
24      100024     18.664356
25      100025     18.999422
26      100026     18.220070
27      100027     16.948847
28      100028     19.905529
29      100029     18.614750
...           ...        ...
219428  99970      17.945122
219429  99971      17.431480
219430  99972      17.766581
219431  99973      18.499779
219432  99974      17.555361
219433  99975      16.557335
219434  99976      17.519678
219435  99977      17.799347
219436  99978      18.452368
219437  99979      18.718042
219438  99980      18.481142
219439  99981      18.639645
219440  99982      18.940084
219441  99983      17.856659
219442  99984      18.960760
219443  99985      19.235485
219444  99986      18.347942
219445  99987      19.399496
219446  99988      18.871563
219447  99989      18.757601
219448  99990      19.625748
219449  99991      19.535885
219450  99992      18.768620
219451  99993      19.344114
219452  99994      19.694735
219453  99995      18.752949
219454  99996      18.998640
219455  99997      18.886461
219456  99998      19.030018
219457  99999      19.316477

[219458 rows x 2 columns]

In [15]:
# Write IDs as integers
photo_i['GAMA_ID'] = photo_i.GAMA_ID.astype(int)
photo_i

        GAMA_ID          i
0        100000  19.469633
1        100001  19.226625
2        100002  17.358280
3        100003  18.706486
4        100004  18.875196
5        100005  16.981993
6        100006  17.225407
7        100007  19.467701
8        100008  17.013826
9        100009  18.811947
10       100010  17.917910
11       100011  17.178625
12       100012  18.351515
13       100013  18.547916
14       100014  19.292389
15       100015  17.856646
16       100016  18.151630
17       100017  18.303244
18       100018  17.451309
19       100019  17.759033
20       100020  18.039917
21       100021  16.900694
22       100022  19.801716
23       100023  18.095474
24       100024  18.664356
25       100025  18.999422
26       100026  18.220070
27       100027  16.948847
28       100028  19.905529
29       100029  18.614750
...         ...        ...
219428    99970  17.945122
219429    99971  17.431480
219430    99972  17.766581
219431    99973  18.499779
219432    99974  17.555361
219433    99975  16.557335
219434    99976  17.519678
219435    99977  17.799347
219436    99978  18.452368
219437    99979  18.718042
219438    99980  18.481142
219439    99981  18.639645
219440    99982  18.940084
219441    99983  17.856659
219442    99984  18.960760
219443    99985  19.235485
219444    99986  18.347942
219445    99987  19.399496
219446    99988  18.871563
219447    99989  18.757601
219448    99990  19.625748
219449    99991  19.535885
219450    99992  18.768620
219451    99993  19.344114
219452    99994  19.694735
219453    99995  18.752949
219454    99996  18.998640
219455    99997  18.886461
219456    99998  19.030018
219457    99999  19.316477

[219458 rows x 2 columns]

## Now I create variables to establish criteria for satisfying Petrillo's LRG classification.

## Now to see if Zoo passes the LRG cuts.

In [17]:
zoo = pd.read_csv('/home/shawn/Desktop/gravitational_lensing_research/Lens_Project_Files/zoo_candidates_032020.csv')

In [18]:
# create variables for the criteria
# convert to Johnson magnitude system (or # out addition for AB)
g = photo_g.g# + 0.013
r = photo_r.r# + 0.226
i = photo_i.i# + 0.296

c_par = 0.7*(g - r) + 1.2*((r - i) - 0.18)
c_perp = (r - i) - (g - r)/4.0 - 0.18

# add columns c_par and c_perp to zoo
zoo['r'] = r
zoo['c_par'] = c_par
zoo['c_perp'] = c_perp

zoo

,Unnamed: 0,Unnamed: 0.1,GAMA_ID,RA,DEC,LENS_SCORE,STELLAR_MASS,Z,TOTAL_MASS,theta_e,r,c_par,c_perp
0,0,319,511867,216.38846,-1.11396,0.352229,5.459000e+10,0.0550,1.399744e+11,1.595680,19.811590,0.742609,-0.033850
1,2,487,485873,217.75015,-1.80042,0.349456,4.908000e+10,0.0539,1.258462e+11,1.528370,19.662579,1.063929,-0.014327
2,4,1264,70022,178.02218,0.07392,0.368109,8.046000e+10,0.0599,2.063077e+11,1.856296,17.846043,1.084641,0.052289
3,5,2065,170898,176.46563,-2.33643,0.336096,2.319000e+11,0.1215,5.946154e+11,2.212752,19.200987,0.946012,0.111426
4,6,2401,184275,175.91698,-1.44119,0.317262,4.411000e+10,0.1237,1.131026e+11,0.956432,19.207859,0.392410,0.077943
5,7,2485,84050,175.79849,0.47814,0.365758,5.471000e+10,0.1190,1.402821e+11,1.086001,17.286449,0.567910,-0.025030
6,8,2524,7104,175.71213,0.83228,0.333333,1.768000e+10,0.0751,4.533333e+10,0.777126,17.592030,0.579694,0.059571
7,10,4670,55245,181.07958,-0.31553,0.314054,1.274000e+11,0.0936,3.266667e+11,1.868604,19.783960,0.555440,-0.003715
8,11,5098,70282,179.40308,0.12562,0.655352,4.256000e+10,0.1074,1.091282e+11,1.008252,17.508411,1.120424,0.049256
9,12,5698,185451,180.28326,-1.61006,0.302985,8.222000e+10,0.1079,2.108205e+11,1.398133,19.131847,0.567161,-0.002700
10,13,5772,124486,179.72998,-2.51919,0.426190,8.541000e+10,0.1435,2.190000e+11,1.235660,18.336803,1.089015,-0.047657
11,14,7874,106562,216.62566,0.84498,0.363876,8.985000e+10,0.1268,2.303846e+11,1.348249,17.601269,0.949521,0.007519
12,15,8137,593852,218.07820,-0.03958,0.386318,2.251000e+11,0.1308,5.771795e+11,2.101137,18.791456,1.052004,-0.004371
13,16,8254,593691,217.50766,-0.12318,0.348438,2.313000e+10,0.1081,5.930769e+10,0.740876,18.826361,0.515206,-0.043368
14,17,8555,568545,215.49570,-0.59009,0.355013,2.998000e+10,0.0510,7.687180e+10,1.228008,19.518330,0.617832,-0.155025
15,18,9151,460645,213.23176,-1.72100,0.307076,3.549000e+10,0.1192,9.100000e+10,0.873948,18.429962,1.310948,0.093685
16,19,9359,93803,222.48917,0.55835,0.477719,8.894000e+10,0.0398,2.280513e+11,2.394294,18.623648,1.126256,0.014933
17,20,10842,93310,219.92276,0.50731,0.575139,3.094000e+10,0.1377,7.933333e+10,0.759213,18.798292,1.165610,0.033780
18,22,11076,136604,175.87349,-1.74167,0.316451,2.866000e+11,0.1060,7.348718e+11,2.633636,17.927132,1.226641,-0.015483
19,23,11901,600421,135.49058,0.28417,0.420189,2.621000e+10,0.0565,6.720513e+10,1.090887,18.191265,1.172629,-0.058465
20,24,12159,574423,135.75994,-0.20038,0.464337,5.079000e+10,0.0536,1.302308e+11,1.559112,18.475861,1.112422,-0.031660
21,25,12397,324764,137.20387,1.72633,0.422757,4.647000e+10,0.1044,1.191538e+11,1.068579,17.401047,1.293173,-0.004201
22,26,12588,218733,140.29763,0.88594,0.419586,9.773000e+10,0.1415,2.505898e+11,1.331086,19.817129,0.434195,-0.390194
23,27,13660,320551,218.67851,1.78336,0.529642,1.303000e+10,0.0779,3.341026e+10,0.655049,18.469091,0.922403,-0.052834
24,28,13836,342699,216.90174,2.13250,0.457088,2.845000e+10,0.0876,7.294872e+10,0.912766,19.387873,1.940855,0.083289
25,29,13946,363319,218.85395,2.56676,0.457532,3.343000e+10,0.0985,8.571795e+10,0.933084,19.360020,0.591496,0.046748
26,31,14626,418788,137.69141,2.74717,0.343063,5.578000e+10,0.1436,1.430256e+11,0.998234,18.712488,1.185014,0.023093
27,32,15421,422113,129.41517,2.59516,0.499580,2.020000e+10,0.1202,5.179487e+10,0.656590,17.451962,1.418676,-0.045077
28,33,15448,422228,129.93613,2.59097,0.302140,2.837000e+10,0.1115,7.274359e+10,0.807910,20.814775,1.443105,0.526386
29,34,16190,196837,132.90975,-0.69973,0.487338,4.740000e+10,0.1046,1.215385e+11,1.078186,18.957401,0.807233,-0.055938
30,35,16625,372045,133.97321,0.98320,0.378304,2.457000e+10,0.1194,6.300000e+10,0.726559,19.529989,0.582482,-0.110735
31,36,17886,3632594,138.25246,-0.95549,0.326671,8.573000e+10,0.1362,2.198205e+11,1.270716,19.469885,1.344147,0.102580
32,37,19218,3578853,130.98196,-1.62032,0.319461,6.537000e+10,0.1221,1.676154e+11,1.171931,18.859829,1.136439,0.038980
33,38,20685,287627,174.19650,1.69352,0.322787,2.352000e+10,0.1344,6.030769e+10,0.670023,19.581570,1.266820,0.087083
34,39,24326,164403,177.41987,-2.72815,0.406590,1.977000e+10,0.0898,5.069231e+10,0.751512,19.365108,1.232448,-0.039428
35,40,26107,238271,213.72842,1.57878,0.331694,7.078000e+10,0.1287,1.814872e+11,1.187781,18.607557,1.638089,-0.004892

In [19]:
# Take Petrillo's 1st set of criteria for LRG (z < 0.4)
zoo_LRG_1 = zoo[(zoo.Z < 0.4) & (zoo.r < 20) & (abs(zoo.c_perp)) & (zoo.r < 14 + zoo.c_par/0.3)]
zoo_LRG_1 = zoo_LRG_1[abs(zoo_LRG_1.r) < 100]
zoo_LRG_1

,Unnamed: 0,Unnamed: 0.1,GAMA_ID,RA,DEC,LENS_SCORE,STELLAR_MASS,Z,TOTAL_MASS,theta_e,r,c_par,c_perp
8,11,5098,70282,179.40308,0.12562,0.655352,4.256000e+10,0.1074,1.091282e+11,1.008252,17.508411,1.120424,0.049256
18,22,11076,136604,175.87349,-1.74167,0.316451,2.866000e+11,0.1060,7.348718e+11,2.633636,17.927132,1.226641,-0.015483
21,25,12397,324764,137.20387,1.72633,0.422757,4.647000e+10,0.1044,1.191538e+11,1.068579,17.401047,1.293173,-0.004201
24,28,13836,342699,216.90174,2.13250,0.457088,2.845000e+10,0.0876,7.294872e+10,0.912766,19.387873,1.940855,0.083289
27,32,15421,422113,129.41517,2.59516,0.499580,2.020000e+10,0.1202,5.179487e+10,0.656590,17.451962,1.418676,-0.045077
35,40,26107,238271,213.72842,1.57878,0.331694,7.078000e+10,0.1287,1.814872e+11,1.187781,18.607557,1.638089,-0.004892

## Only six candidates pass the LRG cuts imposed by Petrillo!